:root {
    color-scheme: light dark;
    --bg-1: light-dark(#fff, #121212);
    --bg-2: light-dark(#ccc, #282828);
    --text-muted: light-dark(#666, #888);
    --text-red: light-dark(#e44, #f66);
    --text-green: light-dark(#0a0, #6f6);
}

h1, h2 {
    text-align: center;
}

fieldset {
    margin: 2em auto;
    width: fit-content;
}

legend {
    text-align: center;
    padding: 0 1em;
}

legend h2, legend h3 {
    margin: 0;
}

.rules {
    max-width: max(600px, 80vw);
}

.rules summary {
    text-align: center;
    background-color: var(--bg-2);
    padding: 0.3em;
    cursor: pointer;
}

.rules summary::marker {
    font-weight: bold;
    content: 'ひらく';
}

.rules details[open] summary::marker {
    content: 'たたむ';
}

.footnotes {
    font-size: 0.85em;
}

.cite {
    text-align: right;
}

.form-config {
    display: flex;
    justify-content: center;
    margin: 0.5em auto;
}

.form-config>div {
    margin: 0.2em;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    background-color: var(--bg-2);
}

.form-config input {
    height: 1.5em;
    min-width: 1.5em;
    width: -webkit-fill-available;
}

.form-config label, .form-config input {
    cursor: pointer;
}

.app>li {
    margin: 50px 0;
}

.get-article-wrap {
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-right: 40px;
}

#article-url {
    width: 100%;
    margin-right: 5px;
}

#set-article-btn {
    white-space: nowrap;
}

.article-name {
    font-weight: bold;
}

.err {
    color: var(--text-red);
}

.good {
    color: var(--text-green);
}

#mlt {
    border-collapse: collapse;
    border: 2px solid;
}

#mlt td {
    border: 1px solid;
}

.mlt-img {
    width: 80px;
    height: 80px;
}

.mlt-img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.mlt-img>img.noimage {
    width: 50%;
    height: 50%;
}

.mlt-text {
    min-width: 140px;
    padding: 0 10px;
}

.mlt-name {
    font-weight: bold;
}

.mlt-desc {
    margin-top: 0.2em;
    font-size: 0.9em;
    display: inline-block;
    vertical-align: bottom;
    color: var(--text-muted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

#article-images {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.article-image {
    height: 20vw;
    background-color: var(--bg-2);
}

#answers {
    margin: 1em;
}

.copyarea {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    margin-right: 40px;
}

.copy-text {
    width: 100%;
    margin-right: 5px;
    resize: vertical;
}
